* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    background-color: #000;
    color: #33ff33;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "Orbitron", sans-serif;
    color: #33ff33;
    margin-bottom: 20px;
}

input,
select,
button {
    font-family: "Courier New", monospace;
    font-size: 16px;
    background-color: #000;
    border: 1px solid #33ff33;
    color: #33ff33;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

input[type="submit"],
button {
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #33ff33;
    color: #000;
}

form {
    margin-top: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

#selectedImage {
    width: 420px;
    height: auto;
    margin: 30px 0;
    border: 2px solid #33ff33;
    border-radius: 10px;
}

p {
    margin-top: 20px;
    color: #00ff00;
    font-size: 20px;
}

a {
    color: #33ff33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
